<select aria-label="categories" class="form-control custom-select" style="display: inline-block; text-align: center;" name="selectedCategory" [(ngModel)]="selectedCategory"
        (ngModelChange)="onCategoryChange()">
  {{selectedCategory}}
  <option>All</option>
  <option *ngFor="let category of categories">
    {{category}}
  </option>
</select>
<form class="form" style="width: 100%;">
  <input class="form-control"
         name="searchText" [(ngModel)]="searchText"
         (ngModelChange)="onTextChange()"
         placeholder="Search Product, Category" aria-label="Search">
</form>
