<header  id="navbar" class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent"
       style="display: flex; align-content: center; justify-content: space-around;
       height: 60px; margin: auto">
    <div style="align-content: center; margin-right: 30px;">
    <button
      class="btn btn-primary add-btn"
      style="border-radius: 150px; display: flex; justify-content: space-around;"
      href="/"
    >
      <span style="display: inline; text-align: center; font-size: 29px">Shopper</span>
      <fa-icon [icon]="faShop"></fa-icon>
    </button>
    </div>
    <select class="form-control custom-select" style="display: inline-block; text-align: center;" name="selectedCategory" [(ngModel)]="selectedCategory"
            (ngModelChange)="onCategoryChange()">
      {{selectedCategory}}
      <option>All</option>
      <option *ngFor="let category of categories">
        {{category}}
      </option>
    </select>
    <form class="form" style="width: 100%;">
      <input class="form-control"
             name="searchText" [(ngModel)]="searchText"
             (ngModelChange)="onTextChange()"
             placeholder="Search Product, Category" aria-label="Search">
    </form>
    <div id="nav">
      <ul>
        <li>
          <a
            class="btn btn-primary add-btn"
            style="border-radius: 100px; display: flex; justify-content: space-around;"
            href="/cart"
          >
            <fa-icon [icon]="faUser"></fa-icon>
            <span style="display: inline; text-align: center">Profile</span>
          </a>
        </li>
        <li>
          <a
            class="btn btn-primary add-btn"
            style="border-radius: 100px; display: flex; justify-content: space-around;"
            href="/cart"
          >
            <fa-icon [icon]="faShippingFast"></fa-icon>
            <span style="display: inline; text-align: center">Orders</span>
          </a>
        </li>
        <li>
          <a
            class="btn btn-primary add-btn"
            style="border-radius: 100px; display: flex; justify-content: space-around;"
            href="/cart"
          >
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <span style="display: inline; text-align: center">Cart</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
