<header  id="navbar" class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent"
       style="display: flex; align-content: center; justify-content: space-around;
       height: 60px; margin: auto">
    <div style="align-content: center; margin-right: 30px;">
    <button
      class="btn btn-primary add-btn"
      style="border-radius: 150px; display: flex; justify-content: space-around;"
      (click)="this.router.navigate(['/'])"
    >
      <span style="display: inline; text-align: center; font-size: 29px">Shopper</span>
      <fa-icon [icon]="faShop"></fa-icon>
    </button>
    </div>
    <ng-content></ng-content>
    <div id="nav">
      <ul>
        <li>
          <a *ngIf="user else signIn"
            class="btn btn-primary add-btn"
            style="border-radius: 100px; display: flex; justify-content: space-around;"
            href="/personal-info/{{user.id}}"
          >
            <fa-icon [icon]="faUser"></fa-icon>
            <span style="display: inline; text-align: center">{{user.name.split(" ")[0]}}</span>
          </a>
          <ng-template #signIn>
            <a class="btn btn-primary add-btn"
               style="border-radius: 100px; display: flex; justify-content: space-around;"
               href="/login"
            >
              <fa-icon [icon]="faUser"></fa-icon>
              <span style="display: inline; text-align: center">Sign In</span>
            </a>
          </ng-template>
        </li>
        <li>
          <a
            class="btn btn-primary add-btn"
            style="border-radius: 100px; display: flex; justify-content: space-around;"
            href="/cart"
          >
            <fa-icon [icon]="faShippingFast"></fa-icon>
            <span style="display: inline; text-align: center">Orders</span>
          </a>
        </li>
        <li>
          <a
            class="btn btn-primary add-btn"
            style="border-radius: 100px; display: flex; justify-content: space-around;"
            href="/cart"
          >
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <span style="display: inline; text-align: center">Cart</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
