<div id="flex-container" style="margin: 10%; text-align: center; display: flex; background-color: white; justify-content: center;"
     xmlns="http://www.w3.org/1999/html">
  <div id="right">
    <h5 class="text-decoration-underline" style="font-weight: 300; font-size: 16px">{{cartItem.product?.category}}</h5>
    <h2 style="margin-bottom: 0.5rem">{{cartItem.product?.title}}</h2>
    <div style="height: 90px; width: 300px">
      <p class="description line-clamp">{{cartItem.product?.description}}</p>
    </div>
    <span class="d-flex flex-row space-between">
    <star-rating [disabled]=true [starType]="'svg'" [rating]="cartItem.product.rating"></star-rating>
      <p style="font-size: 14px">({{cartItem.product?.rating}})</p>
      </span>
    <h4>{{cartItem.product?.price}} Dh</h4>
    <div class="quantity-stepper">
      <button *ngIf="!cartQty else inCartButton"
              id="addToCart"
              class="btn btn-primary add-btn"
              (click)="onAddToCart()"
              href="/cart"
      >
        <span>Add to cart</span>
      </button>
    <ng-template #inCartButton>
        <button
          class="btn btn-primary add-btn"
          style="margin-bottom: 20px; width: 8px; border-radius: 100px; display: flex; justify-content: space-around;"
          (click)="onRemoveFromCart()"
          href="/cart"
        >
          <fa-icon [icon]="faMinus" style="width: 35px; color: white"></fa-icon>
        </button>
        <span class="quantity">{{cartQty}}</span>
        <button
          class="btn btn-primary add-btn"
          style="margin-bottom: 20px; width: 8px; border-radius: 100px; display: flex; justify-content: space-around;"
          (click)="onAddToCart()"
          href="/cart"
        >
          <fa-icon [icon]="faPlus" style="width: 35px; color: white"></fa-icon>
        </button>
    </ng-template>
    </div>
  </div>
  <div id="left">
    <div class="d-md-flex flex-column h-100">
      <div class="h-100 position-relative">
        <section class="d-md-flex align-items-center top-0" style="position: inherit">
          <div class="position-relative" style="width: 117px; margin: 0.5rem">
            <div id="imagesGrid">
              <div class="imageItem" *ngFor="let image of cartItem.product?.images">
      <span style="display: inline;">
        <img [src]="image"
             style="width: 50px; height: 50px"
             (mouseover)="setMainImage(image)"
             alt="{{cartItem.product?.thumbnail}}">
      </span>
              </div>
            </div>
          </div>
          <div class="mainImageContainer">
            <img  id="mainImage" [src]="mainImage" alt="Card image cap">
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
