<div style="text-align: center; display: flex; background-color: lightgray; justify-content: center; align-items: center">
<img  style="height: 30rem" [src]="product?.imgUrl" alt="Card image cap">
<div  style="width: 18rem; height: 30rem; text-align: center; background-color: white">
  <div>
    <h2 class="card-title" style="margin-bottom: 3rem">{{product?.name}}</h2>
  </div>
  <div>
    <p>{{product?.description}}</p>
  </div>
  <div style="margin-top: 3rem">
    <h4>score: {{product?.score}}</h4>
    <h4>price: {{product?.price}}</h4>
  </div>
</div>
</div>
