h1 {
  text-align: center;
  padding: 20px;
}
.white-text-div{
  color: white;
}

.top-bar {
  width: 100%;
  height: 80px;
  overflow-y: hidden;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.4s;
  background: #1976d2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  padding: 0 5vw;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
*, ::after, ::before {
  box-sizing: inherit;
}


#inner {
  overflow: hidden;
  width: 100%;
}

.child {
  float: left;
  align-content: center;
}
