h1 {
  text-align: center;
  padding: 20px;
}
.white-text-div{
  color: white;
}
.sidebar {
  position: fixed;
  width: 200px;
  height: 90%;
  background: #000;
}
.content {
  margin-left: 200px;
  height: 90%;
  width: 200px;
  position: relative;
  background: #f00;
  overflow: hidden;
  z-index: 1;
}
.info {
  width: 1440px;
  height: 300px;
  position: relative;
  background: #f55;
}
#container {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  overflow: hidden;
  width: 100%;
}

#inner {
  overflow: hidden;
  width: 100%;
}

.child {
  float: left;
  background-color: blue;
}
