<div class="card" style="width: 15rem; border-color: white; margin-bottom: 10px">
  <div class="card-body">
    <a href="products/{{product?.id}}">
      <img style="margin-bottom: 10px" class="card-img-top; img" [src]="product?.thumbnail" alt="Card image cap">
    </a>
      <button *ngIf="!cartQty else inCartButton"
              class="btn btn-primary add-btn"
              style="margin-bottom: 20px; width: 75px; border-radius: 100px; display: flex; justify-content: space-around;"
              (click)="onAddToCart()"
              href="/cart"
      >
        <fa-icon [icon]="faPlus" style="width: 35px; color: white"></fa-icon>
        <span>Add</span>
      </button>
      <ng-template #inCartButton>
        <div class="quantity-stepper">
        <button
          class="btn btn-primary add-btn"
          style="margin-bottom: 20px; width: 8px; border-radius: 100px; display: flex; justify-content: space-around;"
          (click)="onRemoveFromCart()"
          href="/cart"
        >
          <fa-icon [icon]="faMinus" style="width: 35px; color: white"></fa-icon>
        </button>
        <span class="quantity">{{cartQty}}</span>
        <button
          class="btn btn-primary add-btn"
          style="margin-bottom: 20px; width: 8px; border-radius: 100px; display: flex; justify-content: space-around;"
          (click)="onAddToCart()"
          href="/cart"
        >
          <fa-icon [icon]="faPlus" style="width: 35px; color: white"></fa-icon>
        </button>
        </div>
      </ng-template>
    <div class="card-body">
    </div>
    <h5 class="card-title">{{product?.title}}</h5>
    <a href="products/{{product?.id}}" style="text-decoration: none; color: black">
      <div style="height: 68px">
        <p class="description line-clamp">{{product?.description}}</p>
      </div>
    </a>
    <h5 class="price">{{product?.price}} Dhs</h5>
    <!--        <p [ngStyle]="{'color': getStateColor(product).color}" style="font-weight: bold">{{getStateColor(product).state}}</p>-->
  </div>
</div>
