.product-div{
  background-color: lightblue;
}

#container {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
