<app-navbar (textChanged)="updateProducts($event)">
</app-navbar>
<!--<div id="container" style="background-color: lightgray">-->
<!--
  <div  class="row"> <div class="col-sm-2" *ngFor="let product of products;">
      <div class="card" style="width: 18rem; margin-bottom: 10px">
        <img class="card-img-top" style="object-fit: contain" width="100px" height="240px" [src]="product?.thumbnail" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product?.title}}</h5>
          <p class="card-text" style="height: 15ch;">{{product?.description}}</p>
          <a href="products/{{product?.id}}" class="btn btn-primary">Details</a>
          <p [ngStyle]="{'color': getStateColor(product).color}" style="font-weight: bold">{{getStateColor(product).state}}</p>
        </div>
      </div>
    </div>
  </div>
-->
  <div  class="grid"> <div class="flexbox-item" *ngFor="let product of products;">
    <div class="card" style="width: 15rem; margin-bottom: 10px">
      <img class="card-img-top; img" [src]="product?.thumbnail" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product?.title}}</h5>
        <p class="card-text" style="height: 15ch;">{{product?.description}}</p>
        <a href="products/{{product?.id}}" class="btn btn-primary">Details</a>
        <p [ngStyle]="{'color': getStateColor(product).color}" style="font-weight: bold">{{getStateColor(product).state}}</p>
      </div>
    </div>
  </div>
<!--  </div>-->
</div>

