<div style=" align-items: center; margin-top: 100px">
  <form id="register-form" (ngSubmit)="register(registerForm)" #registerForm="ngForm" class="bg-dark" style="width: 350px; padding: 14px 18px; min-width: 0">
    <h1>Create account</h1>
    <div *ngIf="!validForm" >
      <p style="color: red">Invalid Information</p>
    </div>
    <div class="a-row a-spacing-base">
      <label id="name-label" for="name" >Name</label>
      <input id="name" name="name" placeholder="First and last name"
             [(ngModel)]=user.name
             required>
    </div>
    <div class="a-row a-spacing-base">
      <label id="email-label" for="email" >Email</label>
      <input id="email" name="email" placeholder=""
             type="email"
             [(ngModel)]=user.email
             required>
    </div>
    <div class="a-row a-spacing-base">
      <label id="password-label" for="password" >Password</label>
      <input id="password" name="password" placeholder="At least 8 characters"
             type="password"
             [(ngModel)]=user.password
             required>
    </div>
    <div class="a-row a-spacing-base">
      <label id="passwordConfirmation-label" for="passwordConfirmation" >Re-enter password</label>
      <input id="passwordConfirmation" name="passwordConfirmation" placeholder=""
             type="password"
             [(ngModel)]=passwordConfirmation
             required>
    </div>
    <hr>
    <input id="submit" [disabled]="registerForm.invalid" class="button-input" type="submit" value="Continue">
    <hr>
    <div>
      <span style="color: white">Already have an account? </span>
      <a href="/login" style="color: rgb(89, 183, 255)">Sign in</a>
    </div>
  </form>
</div>
